@model IEnumerable<KeyValuePair<long, long>>

@{
      ViewData["Title"] = "Home Page";
}

<article class="card text-center">

      <section class="card-body bg-dark">
            @foreach (KeyValuePair<long, long> item in Model)
            {
            <ul class="list-group">
                  <li class="list-group-item list-group-item-action list-group-item-info">key: @item.Key and output: @item.Value</li>
            </ul>
            }
      </section>

</article>
